<div class="animated fadeIn" *ngIf="!loading">
  <table class="table table-bordered table-striped" >
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td><span>{{event.id}}</span></td>
      <td><span>{{event.name}}</span></td>
    </tr>
    </tbody>
  </table>
  <div  *ngIf="!singlefriendloading">
  <table class="table table-bordered table-striped" >
    <tbody>
      <tr> <td><span>Id :</span></td> <td><span>{{event.id}}</span></td> </tr>
      <tr> <td><span>Name :</span></td> <td><span>{{event.name}}</span></td> </tr>
    </tbody>
  </table>
</div>
</div>
